{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silent Hill Archive</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>

    <div class="noise-overlay"></div>

    <div class="container">
        
        <header>
            <h1>SH: ARCHIVE</h1>
            <button id="switch-btn" onclick="toggleWorld()">Switch World</button>
        </header>

        <main class="grid-container">
            {% for item in artifacts %}
            <div class="card">
                
                <div class="content-normal">
                    {% if item.image_normal %}
                        <img src="{{ item.image_normal.url }}" alt="{{ item.title }}">
                    {% endif %}
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description_normal }}</p>
                </div>

                <div class="content-dark">
                    {% if item.image_dark %}
                        <img src="{{ item.image_dark.url }}" alt="{{ item.title }}">
                    {% endif %}
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description_dark }}</p>
                </div>

            </div>
            {% endfor %}
        </main>

    </div>

    <script>
        function toggleWorld() {
            // Находим body и кнопку
            const body = document.body;
            const btn = document.getElementById('switch-btn');

            // Переключаем класс (добавляем или убираем 'otherworld')
            body.classList.toggle('otherworld');

            // Меняем текст на кнопке
            if (body.classList.contains('otherworld')) {
                btn.innerText = "Leave Otherworld";
            } else {
                btn.innerText = "Enter Otherworld";
            }
        }
    </script>
</body>
</html>